<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post in detail</title>
  <link rel="stylesheet" href="/singlepost.css">
</head>
<body>
  <div class="post-detail">
    <h1>Post in Detail</h1>
    <p class="id">Post ID: <%= post.id %></p>
    <h2 class="username">@<%= post.username %></h2>
    <p class="content"><%= post.content %></p>

    <a href="/posts" class="back-btn">⬅ Back to Posts</a>
  </div>
</body>
</html>
